.form__btn {
  background-color: #000;
  color: #fff;
  font-size: 1.125em;
  line-height: 1.36em;
  font-weight: 400;
  width: 83%;
  padding-top: 0.75em;
  padding-bottom: 1.02em;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  margin-top: 1.5em;
}

.form__btn:hover {
  opacity: 0.8;
  transition: 0.3s;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .form__btn {
    width: 95%;
  }
}
