.cards__list {
  width: 68.75%;
  margin: 0 auto;
  list-style-type: none;
  padding-left: 0;
  padding-top: 2.8em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.625em, 1fr));
  grid-column-gap: 1.06em;
  grid-row-gap: 1.31em;
  justify-items: center;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .cards__list {
    width: 88%;
  }
}
