.profile__add-button {
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 2px;
  width: 9.375em;
  height: 3.125em;
  align-self: center;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
  transition: 0.3s;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__add-button {
    width: 17.6em;
    margin-top: 2.25em;
  }
}

@media screen and (min-width: 767px) and (max-width: 845px) {
  .profile__add-button {
    width: 10.6em;
  }
}
