.popup__close-btn_func_img-modal {
  border: none;
  cursor: pointer;
  padding: 0;
  width: 2.5em;
  height: 2.5em;
  margin-top: -1.7rem;
  margin-left: -2.19rem;
  grid-area: closebuttonrow;
  grid-column: 3 / -1;
}

.popup__close-btn_func_img-modal:hover {
  opacity: 0.6;
  transition: 0.3s;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .popup__close-btn_func_img-modal {
    width: 1.667em;
    max-height: 1.667em;
    margin-left: -0.15rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
  .popup__close-btn_func_img-modal {
    width: 2.18em;
    max-height: 2.18em;
    margin-left: -0.1rem;
  }
}
