.profile__occupation {
  font-size: 1.125em;
  line-height: 1.36em;
  font-weight: 400;
  margin: 0;
  width: 92%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__occupation {
    width: 88%;
    font-size: 0.875em;
    line-height: 1.06em;
    align-self: center;
    text-align: center;
    padding-top: 0.875em;
  }
}

@media screen and (min-width: 565px) and (max-width: 767px) {
  .profile__occupation {
    width: 100%;
    font-size: 1em;
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .profile__occupation {
    width: 100%;
    font-size: 1.05em;
    padding-left: 0.3em;
    margin-top: revert;
    margin-bottom: auto;
  }
}
